body {
  font-family: sans-serif;
  margin: 0 0 0 0;
  background-image: url("BG.jpg");
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
header {
  max-width: 960px;
  height: 90px;
  margin: auto;
}
header h1{
  padding: 30px 10px 10px 10px;
  margin: 0;
}
.content {
  margin: auto;
  max-width: 960px;
}
img {
  width: 100px;
  border-radius: 1em;
}
li img:hover {
  width: 200px;
}
#goods{
  font-size: 40pt;
  
}
li {
  display: flex;
  text-align: justify;
}
li div {
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
  text-align: justify;
  width: 700px;
}
ul{
  margin: 0;
}
p{
  font-size: 20pt;
  margin: 0;
}
#goods div input{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}